<div class="go_wrap">
	<header class="go_header">
		<div class="nav con_nav" id="headerToolbar"></div>
		<div class="modal_1_wrap" id="attachLayer" style="display:none;z-index:102">
			<div class="modal_1 modal_add">
				<a data-bypass id="callCamera"><span class="btn_type6"><span
						class="retina_ic retina_ic_camera"></span><span class="txt">{{lang.camera}}</span></span></a>
				<a data-bypass id="callAlbum"><span class="btn_type6"><span
						class="retina_ic retina_ic_gallery"></span><span class="txt">{{lang.album}}</span></span></a>
			</div>
		</div>
	</header>
	<form action="" onsubmit="return false;">
		<div id="goSearch" class="go_search" style="display:none">
		</div>
	</form>
	<div class="go_body" id="goBody">
		<div style="display:none;">
			<div id="side" class="go_side touch" style="overflow:scroll; visibility:visible; display:block; top:51px; height:761px;">
				<div id="sideContent" style="min-height:100%"></div>
			</div>
            <div class="dim" style="display:none;"></div>
        </div>
		<div class="go_content " id="">
			<div id="scrollWrap">
				<div class="content_page touch" id="content"></div>
			</div>
		</div>
	</div>
</div>