<meta name ="form:name" content="출장 보고서"/>
<body id="go-report-form">
<span><div><br></div><table style="width:900px;margin-top:1px; border:2px solid #000; border-collapse:collapse; font-family:malgun gothic,dotum,arial,tahoma;">
<!-- 머릿말 -->
<colgroup>
<col width="490px">
<col width="150px">
<col width="260px">
</colgroup>
	<tbody><tr>
		<td style="font-size:36px; font-weight:bold; text-align:center; color:black; background:white; vertical-align:middle; border:1px solid black; padding:5px 0;" rowspan="3">
출장 보고서
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:center; color:black; background:#ddd; vertical-align:top; border:1px solid black; padding:5px 0;">
부서
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:black; background:white; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="system" data-dsl="{{user_org}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:normal; text-align:center; color:black; background:#ddd; vertical-align:top; border:1px solid black; border-width:1px; padding:5px 0;">
이름
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:black; background:white; vertical-align:top; border:1px solid black; border-width:1px; padding:5px 0;">
&nbsp;<span data-type="system" data-dsl="{{user_name}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:normal; text-align:center; color:black; background:#ddd; vertical-align:top; border:1px solid black; border-width:1px; padding:5px 0;">
날짜
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:black; background:white; vertical-align:top; border:1px solid black; border-width:1px; padding:5px 0;">
&nbsp;<span data-type="calendar" data-dsl="{{calendar}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
</tbody></table>
<table style="width:900px;margin-top:10px; border:2px solid #000; border-collapse:collapse; font-family:malgun gothic,dotum,arial,tahoma;">
<!-- 본문 -->
<colgroup>
<col width="100px">
<col width="100px">
<col width="250px">
<col width="100px">
<col width="350px">
</colgroup>
	<tbody><tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:30px; border:1px solid black; padding:5px 0;">
출장지
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;" colspan="2">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:30px; border:1px solid black; padding:5px 0;">
업체명
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:30px; border:1px solid black; padding:5px 0;">
출장기간
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;" colspan="2">
&nbsp;<span data-type="period" data-dsl="{{period}}" data-id="" data-name="" data-value=""></span>
		</td>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:30px; border:1px solid black; padding:5px 0;">
담당자
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:60px; border:1px solid black; padding:5px 0;">
출장목적
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;" colspan="4">
&nbsp;<span data-type="textarea" data-dsl="{{textarea}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:300px; border:1px solid black; padding:5px 0;">
출장내용
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;" colspan="4">
&nbsp;<span data-type="editor" data-dsl="{{editor}}" data-id="" data-name="" data-value="" style="width:100%" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; border:1px solid black; padding:5px 0;" rowspan="6">
출장경비
		</td>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:30px; border:1px solid black; padding:5px 0;">
구분
		</td>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:30px; border:1px solid black; padding:5px 0;">
금액
		</td>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:30px; border:1px solid black; padding:5px 0;" colspan="2">
내역
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:right; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;">
<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>&nbsp;
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;" colspan="2">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:right; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;">
<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>&nbsp;
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;" colspan="2">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:right; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;">
<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>&nbsp;
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;" colspan="2">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:right; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;">
<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>&nbsp;
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;" colspan="2">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:right; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;">
<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>&nbsp;
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; height:30px; border:1px solid black; padding:5px 0;" colspan="2">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
</tbody></table>
</span>
</body>