<div data-emoticon-group-wrapper onselectstart="return false" >
    <div class="container">
        <div class="nav_emoticon" data-emoticon-tab-wrapper>
            <div class="wrap_list_emoticon" style="">
                <ul class="list_emoticon" data-emoticon-tab-ul style="left: 0">
                </ul>
            </div>
        </div>
        <div class="wrap_list_emoticon scroll_y">
            <ul class="list_emoticon" data-emoticon-item-ul>
            </ul>
        </div>
    </div>
</div>

