<div class="content_page profile">
    <div class="portlet_warp profile_wrap" style="height:px">
        <section class="list_item list_item_alarm">
            <header>
                <h1>
                    <span class="ic_gnb ic_profile3_h"></span>
                    <span class="title">{{lang.title}}</span>
                </h1>
            </header>
        </section>    
    </div>
    
    <div class="box_wrap flat box_setting">
		<div class="box_header">
			<span class="txt">{{lang.basic_setting}}</span>
		</div>
		<div class="box flat"  id="baseNotiSetting">
		
		<div class="page_action_wrap">
						<a class="btn_major" data-role="button" id="saveBaseNotiSetting"><span class="txt">{{lang.save}}</span></a>
						<a class="btn_minor" data-role="button" id="cancelBaseNotiSetting"><span class="txt">{{lang.cancel}}</span></a>					
					</div>
			<!-- 버전 -->
		</div>
	</div>
</div>
    