<meta name ="form:name" content="면담 보고서"/>
<body id="go-report-form">
<span><table style="width:900px;margin-top:1px; border:0px solid #000; border-collapse:collapse; font-family:malgun gothic,dotum,arial,tahoma;">
<!-- 머릿말 -->
<colgroup>
<col width="900px">
</colgroup>
	<tbody><tr>
		<td style="font-size:36px; font-weight:bold; text-align:center; color:black; background:white; vertical-align:middle; border:1px solid black; border-width:0px; padding:5px 0;" rowspan="3">
면담 보고서
		</td>
	</tr>
</tbody></table>
<table style="width:900px;margin-top:10px; border:2px solid #000; border-collapse:collapse; font-family:malgun gothic,dotum,arial,tahoma;">
<!-- 요약 -->
<colgroup>
<col width="150px">
<col width="300px">
<col width="150px">
<col width="300px">
</colgroup>
	<tbody><tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:30px; border:1px solid black; padding:5px 0;">
면담자
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; border:1px solid black; padding:5px 0;">
면담일
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="calendar" data-dsl="{{calendar}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:30px; border:1px solid black; padding:5px 0;">
피 면담자
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; border:1px solid black; padding:5px 0;">
면담종류
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="text" data-dsl="{{text}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
</tbody></table>
<table style="width:900px;margin-top:10px; border:2px solid #000; border-collapse:collapse; font-family:malgun gothic,dotum,arial,tahoma;">
<!-- 내용 -->
<colgroup>
<col width="100px">
<col width="800px">
</colgroup>
	<tbody><tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:80px; border:1px solid black; padding:5px 0;">
업무관련
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="textarea" data-dsl="{{textarea}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:80px; border:1px solid black; padding:5px 0;">
동료와의 관계
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="textarea" data-dsl="{{textarea}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:80px; border:1px solid black; padding:5px 0;">
개인문제
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="textarea" data-dsl="{{textarea}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:80px; border:1px solid black; padding:5px 0;">
자기계발
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="textarea" data-dsl="{{textarea}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:80px; border:1px solid black; padding:5px 0;">
특이사항
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="textarea" data-dsl="{{textarea}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
</tbody></table>
<table style="width:900px;margin-top:10px; border:2px solid #000; border-collapse:collapse; font-family:malgun gothic,dotum,arial,tahoma;">
<!-- 내용 -->
<colgroup>
<col width="100px">
<col width="800px">
</colgroup>
	<tbody><tr>
		<td style="font-size:12px; font-weight:bold; text-align:center; color:#000; background:#ddd; vertical-align:middle; height:80px; border:1px solid black; padding:5px 0;">
면담결과
		</td>
		<td style="font-size:12px; font-weight:normal; text-align:left; color:#000; background:#fff; vertical-align:top; border:1px solid black; padding:5px 0;">
&nbsp;<span data-type="textarea" data-dsl="{{textarea}}" data-id="" data-name="" data-value="" data-require="false" data-maxlength="255"></span>
		</td>
	</tr>
</tbody></table>
</span>
</body>