<div class='content'>
	<ul class='list_alramSet'>
		<li data-appname='mail'>
			<div class='tit'>
				<span class='txt'>{{lang.mail}}</span>
				<span btn-push='mail' class='ic'></span>
			</div>
			<ul submenu>
				<li data-mail-status="all">
					<div class='tit'>
						<span class='txt'>{{lang.all}}</span>
						<span btn-push='all' class='ic'></span>
					</div>
				</li>
				<li data-mail-status="inbox">
					<div class='tit'>
						<span class='txt'>{{lang.inbox}}</span>
						<span btn-push='inbox' class='ic'></span>
					</div>
				</li>
			</ul>
		</li>
		
		<li data-appname='approval'>
			<div class='tit'>
				<span class='txt'>{{lang.approval}}</span>
				<span btn-push='approval' class='ic'></span>
			</div>
			<ul submenu>
				<li data-eventname='document.commented'>
					<div class='tit'>
						<span class='txt'>{{lang.comment}}</span>
						<span btn-push='document.commented' class='ic'></span>
					</div>
				</li>
				<li data-eventname='document.arrived'>
					<div class='tit'>
						<span class='txt'>{{lang.receive}}</span>
						<span btn-push='document.arrived' class='ic'></span>
					</div>
				</li>
				<li data-eventname='document.withdrew'>
					<div class='tit'>
						<span class='txt'>{{lang.withdraw}}</span>
						<span btn-push='document.withdrew' class='ic'></span>
					</div>
				</li>
				<li data-eventname='document.returned'>
					<div class='tit'>
						<span class='txt'>{{lang.reject}}</span>
						<span btn-push='document.returned' class='ic'></span>
					</div>
				</li>
				<li data-eventname='document.completed'>
					<div class='tit'>
						<span class='txt'>{{lang.complete}}</span>
						<span btn-push='document.completed' class='ic'></span>
					</div>
				</li>				
			</ul>
		</li>
		
		<li data-appname='calendar'>
			<div class='tit'>
				<span class='txt'>{{lang.calendar}}</span>
				<span btn-push='calendar' class='ic'></span>
			</div>
		</li>
		<li data-appname='bbs'>
			<div class='tit'>
				<span class='txt'>{{lang.bbs}}</span>
				<span btn-push='bbs' class='ic'></span>
			</div>
		</li>
		<li data-appname='community'>
			<div class='tit'>
				<span class='txt'>{{lang.community}}</span>
				<span btn-push='community' class='ic'></span>
			</div>
		</li>
		<li data-appname='survey'>
			<div class='tit'>
				<span class='txt'>{{lang.survey}}</span>
				<span btn-push='survey' class='ic'></span>
			</div>
		</li>
		<li data-appname='report'>
			<div class='tit'>
				<span class='txt'>{{lang.report}}</span>
				<span btn-push='report' class='ic'></span>
			</div>
		</li>
		<li data-appname='task'>
			<div class='tit'>
				<span class='txt'>{{lang.task}}</span>
				<span btn-push='task' class='ic'></span>
			</div>
		</li>
		<li data-appname='todo'>
			<div class='tit'>
				<span class='txt'>{{lang.todo}}</span>
				<span btn-push='todo' class='ic'></span>
			</div>
		</li>
		<li data-appname='works'>
			<div class='tit'>
				<span class='txt'>{{lang.works}}</span>
				<span btn-push='works' class='ic'></span>
			</div>
		</li>
        <li data-appname='docs'>
            <div class='tit'>
                <span class='txt'>{{lang.docs}}</span>
                <span btn-push='docs' class='ic'></span>
            </div>
        </li>
	</ul>
</div>