										<div class="msg_wrap">
											<div class="ipt_wrap">
												<textarea placeholder="{{lang.commentPlaceholder}}"></textarea>
											</div>
											<div class="btn_wrap">
												<a href="javascript:;" class="btn_type2 comment_reply_save" style="cursor: pointer;"><span class="txt">{{lang.reply_save}}</span></a>
												<a href="javascript:;" class="btn_type2 comment_reply_cancel" style="cursor: pointer;"><span class="txt_caution">{{lang.reply_cancel}}</span></a>
											</div>
										</div>
