<a data-bypass class="btn_fontsize" id="fontResizeBtn">
    <span class="ic ic_text_range"></span>
</a>
<div id="fontResizeLayer" class="wrap_range wrap_range_fs" style="display:none">
    <span class="fs">T</span>
    <ul class="list_fs">
        <li><input type="radio" id="inpFont13" name="inpFont" class="inp_fs" value="0" > <label class="lab_fs" for="inpFont13"></label></li>
        <li><input type="radio" id="inpFont16" name="inpFont" class="inp_fs" value="20"> <label class="lab_fs" for="inpFont16"></label></li>
        <li><input type="radio" id="inpFont19" name="inpFont" class="inp_fs" value="40"> <label class="lab_fs" for="inpFont19"></label></li>
        <li><input type="radio" id="inpFont22" name="inpFont" class="inp_fs" value="60"> <label class="lab_fs" for="inpFont22"></label></li>
        <li><input type="radio" id="inpFont25" name="inpFont" class="inp_fs" value="80"> <label class="lab_fs" for="inpFont25"></label></li>
        <li><input type="radio" id="inpFont28" name="inpFont" class="inp_fs" value="100"> <label class="lab_fs" for="inpFont28"></label></li>
        <li><input type="radio" id="inpFont31" name="inpFont" class="inp_fs" value="120"> <label class="lab_fs" for="inpFont31"></label></li>
        <li><input type="radio" id="inpFont34" name="inpFont" class="inp_fs" value="140"> <label class="lab_fs" for="inpFont34"></label></li>
    </ul>
    <span class="fs">T</span>
</div>