<header class="go_header">
	<!-- nav -->
	<div class="nav">
		<h1>{{title}}</h1>
		<div class="critical">
			<a class="ic_nav_wrap" title="{{btn_cancel}}" data-btn='cancel' style="-webkit-tap-highlight-color:rgba(0, 0, 0, 0)"><span class="ic_nav ic_nav_prev"></span></a>
		</div>
		<div class="optional">
			<ul class="toolbar_list">
				<li>
					<a title="{{btn_ok}}" data-btn='ok' data-bypass><span>{{btn_ok}}</span></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- // nav -->
</header>
<div class="go_wrap">
	<div class="go_body">
		<div class="go_content">
			<div class="content_page">
				<div class="content">
					<div id="userCheckedScroll" class="list_employee" style="display:none">
						<ul id="userCheckedEls" class="name_tag_type2">
						</ul>
					</div>
					{{^isDept}}
					<div class="search_wrap2">
						<div class="search">
							<input id="searchKeyword" class="input search iscroll-tap-highlight" type="text" placeholder="{{search_placeholder}}">
							<a id="btnSearchReset" class="btn_cancel" data-bypass><span class="btn btn_del_type1"></span></a>
							<a id="btnSearch" class="btn_search" data-bypass><span class="btn btn_search"></span></a>
						</div>
					</div>
					{{/isDept}}
					<ul id="userListEls" class="list_normal list_photo list_photo_ipt">

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>