/*only IE8*/
#smart_editor2 .se2_bx_find_revise ul {margin: 8px 0 0 5px!important;padding:0!important}
#smart_editor2 .se2_bx_find_revise .se2_in_bx_find dl {margin:0 0 0 4px!important; padding: 7px 0 13px 7px!important;background: none!important}
#smart_editor2 .se2_bx_find_revise .se2_in_bx_revise dl {margin:0 0 0 4px!important; padding: 7px 0 13px 7px!important;background: none!important}
ul.tool_4 {margin-left: 4px!important; margin-top: 2px!important; }
#smart_editor2 .husky_se2m_fontcolor_layer {width: 224px!important; top:48px!important}
#smart_editor2 .husky_se2m_BGColor_layer {width: 224px!important; top:48px!important}

#smart_editor2 .husky_se2m_replace_find_next {margin: 0 -3px 0 -29px!important}
#smart_editor2 .husky_se2m_replace {margin: 0 1px 0 -2px!important}
#smart_editor2 .husky_se2m_replace_all {margin: 0 -3px 0 -6px!important}
#smart_editor2 .husky_se2m_cancel {margin-left: -2px!important}

