@charset "UTF-8";
/* reset */

body.prefix {font-size:12px; font-family:맑은 고딕,malgungothic,dotum,AppleGothic,arial,Helvetica,sans-serif; position:relative; overflow:auto; background:#fff url(../images/bg_side.gif) repeat-y -20px 0; letter-spacing: -0.5px;}

.prefix header.go_header nav span, 
.prefix div.admin_body * {font-size:12px; font-family:맑은 고딕,malgungothic,dotum,AppleGothic,arial,Helvetica,sans-serif; letter-spacing: 0px; box-sizing: unset;}
.prefix div.admin_side a span {color:#3b3b3b;}
.prefix div.breadcrumb span {color: #777; font: 12px; }
.prefix nav a * {color:#d9d9d9; font-weight:bold;}
.prefix nav li.on * {color:#fff;}
.prefix .tWrap .admin_body .admin_content {position: relative; display:block; width:auto; margin-left: 232px; background: #fff; padding: 10px 15px 50px;}
.prefix header.content_top {min-height: 35px; padding: 0 25px 0px 5px; border-bottom: 1px solid #ddd; margin-bottom: 25px; }
.prefix .admin_content .content_top h1 {float: left;}
.prefix .admin_content .content_top span.title {font-weight: bold; color:#333; font-size: 16px; font-family: 맑은 고딕,malgungothic,dotum,AppleGothic,Helvetica,sans-serif; margin: 0 8px 0 0; letter-spacing: 0px;}
.prefix .admin_content .dataTables_wrapper {overflow-x: auto; box-sizing: border-box;}
.prefix .content_page .container {border: 1px solid #D9D9D9;border-radius:2px;width: 100%; margin-bottom: 30px; padding:0;}
.prefix .content_tb .toolbar_top {vertical-align: middle;}
.prefix .toolbar_top .critical {float:left; position:relative;}
.prefix .container .header_tb {background: #F0F0F0; border-bottom: 1px solid #D9D9D9; border-radius: 3px 5px 0 0; min-height: 40px; box-sizing: border-box; padding:4px; }
.prefix .container .content_tb .dataTables_length {margin:0px;}
.prefix .dataTables_length select {padding:0px; width: 50px;}

/*GNB*/
.prefix header.go_header h1 {position: absolute;top: 0;left: 10px;line-height: 40px;font-size: 0;width: 230px;height: 40px;}
.prefix header.go_header h1 a {float: left;color: #fff;}
.prefix header.go_header h1 a img {vertical-align: middle}
.prefix header.go_header h1 a span.txt {display:block; width: 205px; height: 38px; line-height:38px; font-size: 17px; color:#fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.prefix header.go_header section.my_info {float:right;height:44px}
.prefix section.my_info .profile {float:left; height:33px}
.prefix section.my_info .profile span.info {float:left; margin-left:3px; margin-right:0; padding-top:12px}
.prefix section.my_info .profile span.info a.name {display:block; margin-right:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;color:#cecece; padding-right:6px}
.prefix section.my_info ul.ctrl {float:right}
.prefix section.my_info ul.ctrl li {float:left; width:34px; height:40px; background:url(../images/bg_bar_gary_v.png) repeat-y 0 0; text-align:center}
.prefix section.my_info ul.ctrl li a {display:inline-block;width: 30px;height: 37px;background: url(../images/btn_my.png) no-repeat 0 18px;}
.prefix section.my_info ul.ctrl li a.btn_help {background-position:-120px 10px}
.prefix section.my_info ul.ctrl li a.btn_logout {background-position: -30px 10px;}
.prefix section.my_info ul.ctrl li>a span {display:none}
.prefix section.my_info ul.ctrl li:hover,
.prefix section.my_info ul.ctrl li:hover a.btn_help {background-position:-120px -40px}
.prefix section.my_info ul.ctrl li:hover a.btn_logout {background-position:-30px -40px}
	
/*gnb_top_menu*/
.prefix .tWrap .my_info ul.ctrl  li.on {background:#2f2f2f}
.prefix .tWrap .gnb_top_menu {z-index:50; position:absolute; right:33px; top:40px; min-width:110px; background:#2f2f2f;  border-radius:0 0 2px 2px}
.prefix .tWrap .gnb_top_menu ul li {text-align:left; height:28px; line-height:22px;}
.prefix .tWrap .gnb_top_menu ul li a{display:block; padding:3px 10px; text-align:left!important}
.prefix .tWrap .gnb_top_menu ul li:hover {background:#0b99a1;}
.prefix .tWrap .gnb_top_menu ul li.last,
.prefix .tWrap .gnb_top_menu ul li.last:hover{border-radius:0 0 2px 2px}
.prefix .tWrap .gnb_top_menu ul li.bar {border-top:1px solid #1f1f1f; border-bottom:1px solid #3d3d3d; height:0px; font-size:0}
.prefix .tWrap .gnb_top_menu ul li.bar:hover {background:none}
.prefix .tWrap .gnb_top_menu a {color:#cecece}

/*GNB more menu*/
.prefix .tWrap nav div.gnb_top_menu {right:auto;}
.prefix .tWrap nav div.gnb_top_menu ul li {width:100%; padding:0}
.prefix .tWrap nav ul li.on_layer {background:#2f2f2f}
.prefix .tWrap nav ul li .ic_more {margin-left:5px;vertical-align:middle}
.prefix .tWrap nav div.gnb_top_menu ul li,
.prefix .tWrap nav div.gnb_top_menu ul li a {float:none}
.prefix .tWrap header.go_header_2row {height:44px; background:#3f3f3f url(../images/bg_header.png) repeat-x 0 bottom;min-width:1000px; overflow:hidden;}
.prefix .tWrap header.go_header_2row nav {float:left; margin-left:230px; min-width:500px; max-width:850px;/* background:url(../images/bg_gnb_line.png) no-repeat left 0*/}
.prefix .tWrap header.go_header_2row nav ul li {display:block; float:left; height:43px; line-height:43px; /*background:url(../images/bg_gnb_line.png) no-repeat right 0; font-weight:normal*/}
.prefix .tWrap header.go_header_2row nav ul li li {background-image:none}
.prefix .tWrap header.go_header_2row nav ul li.bar {border-left:1px solid #1c99a0}
.prefix .tWrap header.go_header_2row nav ul li:hover {background:#2f2f2f url(../images/bg_header_hover.png) repeat-x 0 -36px;}
.prefix .tWrap header.go_header_2row nav ul li.on {border-bottom:1px solid #1b7e84;background:#1da3aa!important}
.prefix .tWrap header.go_header_2row nav ul li a {display:block; padding:0 10px; color:#d9d9d9; font-weight:bold} 
.prefix .tWrap header.go_header_2row nav ul li.on a {color:#fff} 
.prefix .tWrap header.go_header_2row nav ul li>a, 
.prefix .tWrap header.go_header_2row nav ul li.on>a {text-align:center}
.prefix .tWrap header.go_header_2row nav ul li span.badge {visibility:visible; display:inline-block; min-width:20px; height:14px; line-height:14px; margin:0 0 0 5px; padding:1px 2px 1px 0px; background-color:#3e3e3e; border-radius:15px; font-family:tahoma; font-size:11px; letter-spacing:-1px; font-weight:normal; text-align:center; color:#cee633; box-shadow:inset 0px 1px 1px rgba(0,0,0,0.3)}
.prefix .tWrap header.go_header_2row nav ul li.on span.badge {background-color:#0d6566; box-shadow:inset 0px 1px 1px rgba(0,0,0,0.3); text-align:center}
.prefix .tWrap header.go_header_2row nav ul li span.sleep_mode {min-width:30px; background:#299B52!important; color:#f5fad6; text-align:center}
.prefix .tWrap header.go_header_2row nav ul li span.menu {display:inline-block}
.prefix .tWrap header.go_header_2row nav ul li ul li span.menu {display:inline-block; padding-top:0px; font-weight:normal!important; color:#cecece;}
.prefix .tWrap header.go_header_2row nav ul li.more {padding:0; min-width:26px; text-align:center }
.prefix .tWrap header.go_header_2row nav ul li.more a {padding:0}
.prefix .tWrap header.go_header_2row nav ul li.more span.more {display:inline-block; min-width:15px; height:38px; background:url(../images/btn_my.png) no-repeat -100px 9px; }


/*gnb_top_menu*/
.prefix .tWrap header.go_header_2row .my_info ul.ctrl  li.on {background:#2f2f2f}
.prefix .tWrap header.go_header_2row .gnb_top_menu {z-index:50; position:absolute;top:40px; width:150px; min-width:150px; background:#2f2f2f; border-radius:0 0 2px 2px}
.prefix .tWrap header.go_header_2row li a:focus+.gnb_top_menu,
.prefix .tWrap header.go_header_2row li:hover .gnb_top_menu {display:block}
.prefix .tWrap header.go_header_2row .gnb_top_menu ul li {text-align:left; height:28px; line-height:28px; }
.prefix .tWrap header.go_header_2row .gnb_top_menu ul li span.badge {position:absolute; right:10px; top:5px; }
.prefix .tWrap header.go_header_2row .gnb_top_menu ul li a{display:block; padding:0px 10px; height:28px; line-height:28px; }
.prefix .tWrap header.go_header_2row .gnb_top_menu ul li:hover {background:#0b99a1;}
.prefix .tWrap header.go_header_2row .gnb_top_menu ul li.last,
.prefix .tWrap header.go_header_2row .gnb_top_menu ul li.last:hover{border-radius:0 0 2px 2px}
.prefix .tWrap header.go_header_2row .gnb_top_menu ul li.bar {width:100%; height:0; border-top:1px solid #1f1f1f; border-bottom:1px solid #3d3d3d;font-size:0}
.prefix .tWrap header.go_header_2row .gnb_top_menu ul li.bar:hover {background:none}
.prefix .tWrap header.go_header_2row .gnb_top_menu a {color:#cecece}
.prefix .tWrap header.go_header_2row .gnb_top_menu a:hover {color:#fff}

.prefix .tWrap header.go_header_2row nav ul li.on div.gnb_top_menu {margin-top:3px; border-top:none; right:auto;}
.prefix .tWrap header.go_header_2row nav ul li.on ul {border-top:1px solid #19979e}  
.prefix .tWrap header.go_header_2row nav ul li.on ul li {background-color:#1da3aa}  
.prefix .tWrap header.go_header_2row nav ul li.on ul li:hover {background-color:#158a91; }  
.prefix .tWrap header.go_header_2row nav ul li.on ul li:first-child {border-top:1px solid #3aafb5}  
.prefix .tWrap header.go_header_2row nav ul li.on ul li span.menu {color:#fff}  

/*GNB more menu - 2depth*/
.prefix .tWrap header.go_header_2row nav li div.gnb_top_menu ul li {position:relative; width:100%; padding:0; white-space:nowrap; vertical-align:middle}
.prefix .tWrap header.go_header_2row nav li div.gnb_top_menu ul li a {padding:0px 10px; }
.prefix .tWrap header.go_header_2row nav li.more div.gnb_top_menu {margin-left:0px;}
.prefix .tWrap header.go_header_2row nav li.more div.gnb_top_menu ul li div.gnb_top_menu {position:absolute; left:150px; top:-1px; border: 1px solid white;}
.prefix .tWrap header.go_header_2row nav li.more div.gnb_top_menu ul li div.gnb_top_menu {/*display:none*/}
.prefix .tWrap header.go_header_2row nav li.more div.gnb_top_menu ul li a:focus+div.gnb_top_menu, /*focus는 a에서만 적용*/
.prefix .tWrap header.go_header_2row nav li.more div.gnb_top_menu ul li:hover div.gnb_top_menu {display:block;}
.prefix .tWrap header.go_header_2row nav li.more div.gnb_top_menu ul li:hover div.gnb_top_menu ul li span.menu {color:#cecece}
.prefix .tWrap header.go_header_2row nav li.more div.gnb_top_menu ul li:hover div.gnb_top_menu ul li:hover span.menu {color:#fff}

.prefix .tWrap header.go_header_2row nav ul li.on_layer {background:#2f2f2f}
.prefix .tWrap header.go_header_2row nav ul li.on .on_layer {background:#2f2f2f}
.prefix .tWrap header.go_header_2row nav ul li .ic_more {margin-left:5px;vertical-align:middle}  
.prefix .tWrap header.go_header_2row nav div.gnb_top_menu ul li a span.menu {width:94px; white-space:nowrap;overflow:hidden; text-overflow:ellipsis;  } /*menu명 길이 제한*/
.prefix .tWrap header.go_header_2row section.my_info ul.ctrl li span.badge {color:#cee633}
.prefix .tWrap header.go_header_2row section.my_info .profile {margin:0}
.prefix .tWrap header.go_header_2row section.my_info .profile span.info {padding:0; line-height:40px}
.prefix .tWrap header.go_header_2row section.my_info .profile span.photo img {width:38px; height:38px}
.prefix .tWrap header.go_header_2row section.my_info .profile span.photo {width:38px; height:38px}

/* btn */
.prefix .btn_tool {display:inline-block; height:29px; padding:0px 8px; background:#fff; border:1px solid #ccc; border-radius:5px; font-weight:bold; cursor:pointer; }
.prefix .btn_tool span.text_caution {color:red}
.prefix .btn_tool:hover {border-color:#888; box-shadow:1px 1px 1px rgba(0,0,0,0.1); background:#fff;}
.prefix .btn_s {border:1px solid #d1d1d1; border-radius:2px; cursor:pointer; }
.prefix .btn_s:hover {border-color:#999; color:#333; box-shadow:1px 1px 1px rgba(0,0,0,0.1)}
.prefix .btn_s span.txt_caution {color:red}
.prefix table.tb_select .tool_bar span.btn_s {padding :2px 7px; height:24px; line-height: 22px;}
.prefix div.dataTables_paginate {display:block; width:100%; text-align:center; padding:8px 0 0}
.prefix div.dataTables_paginate a  {display:inline-block; padding:0; height:21px; min-width:14px; padding:0 3px; margin-right:1px; border:1px solid #dddddd; display:inline-block; border-radius:3px; color:#777; font-family:tahoma; line-height:21px; vertical-align:top}
.prefix div.dataTables_paginate a:hover  {border-color:#999; background:#ddd}
.prefix div.dataTables_paginate a.paginate_active {background:#444; color:#fff; border-color:#333}
.prefix div.dataTables_paginate a.first, 
.prefix div.dataTables_paginate a.last, 
.prefix div.dataTables_paginate a.previous, 
.prefix div.dataTables_paginate a.next  {display:inline-block;width:20px;height:21px;background: whiteSmoke url(../images/icon_classic.png) no-repeat -40px 0;padding:0;}
.prefix div.dataTables_paginate a.first {background-position: -32px -14px}
.prefix div.dataTables_paginate a.last  {background-position: -52px -14px}
.prefix div.dataTables_paginate a.previous  {background-position: -34px 6px}
.prefix div.dataTables_paginate a.next  {background-position: -51px 6px}
.prefix div.dataTables_paginate a.paginate_button_disabled {cursor:default ;opacity:0.4}
.prefix div.dataTables_paginate a.paginate_button_disabled:hover {border-color:#ddd;}
.prefix .btn {display:inline-block;  font-size:14px; background:#555; color:#ddd; border:1px solid #444; border-radius:2px; font-weight:bold; cursor:pointer; margin-right:2px; line-height:34px;}
.prefix .btn span.txt_caution {color:red}
.prefix .btn:hover {border-color:#333; color:#fff; background:#444; box-shadow:1px 1px 1px rgba(0,0,0,0.3)}
.prefix .btn_nega {display:inline-block; font-size:14px; background:#f3f3f3; color:#888; border:1px solid #ddd; border-radius:2px; font-weight:bold; cursor:pointer;}
.prefix .btn_nega:hover {color:#333; border-color:#ccc; box-shadow:1px 1px 1px rgba(0,0,0,0.1)}
.prefix .btn_layer_wrap .btn_major_s { display: inline-block; cursor: pointer; padding:0 10px; color: #fff; font-weight: bold; font-size: 12px; height: 30px; line-height: 30px;
    border-radius: 2px; background: #2197a3; border: 1px solid #1e8d98; }
.prefix .btn_layer_wrap .btn_minor_s {display: inline-block; cursor: pointer; padding:0 8px; height: 30px; color: #656565; font-weight: bold; font-size: 12px; line-height: 30px; border: 1px solid #cecece; border-radius: 2px; background: #f3f3f3;}

/* table */
.prefix table.chart {table-layout: auto;}
.prefix table.chart th {background: #f8f8f8; text-align: left; padding:0; }
.prefix table.chart th span, 
.prefix table.chart th span label {font-weight: bold;}
.prefix .table.chart span.title_sort span.selected {display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 3px; background: #25cad6;}
.prefix table.chart tr td {height: 25px; line-height: 1.5;vertical-align: middle; }
.prefix table.chart th, 
.prefix table.chart td {border: 0; border-bottom: 1px solid #e9e9e9;}
.prefix table.chart tr:hover th, 
.prefix table.chart tr:hover td {background-color:#e1f5f6; border-color:#d2e4e6}
.prefix table.chart th.sorting_asc span.title_sort span.selected, 
.prefix table.chart th.sorting_desc span.title_sort span.selected {display: block;}
.prefix table.chart th.sorting_disabled span.title_sort select {height:25px; margin-top:3px}

/* 도메인 추가*/
.prefix div.container div.content {padding: 20px;}
.prefix div.container div.header {background: #F0F0F0; border-bottom: 1px solid #D9D9D9; height: 40px; position: relative;}
.prefix div.container div.header h2 {position: absolute;left: 10px; top: 8px; font: bold 15px malgun gothic,dotum; color: #444;}
.prefix span.help {display: inline-block;position: relative;width: 16px;height: 16px;background: url(../images/admin/ic_admin.png) no-repeat 0 -60px;
    margin-left: 1px;cursor: pointer;vertical-align: middle;letter-spacing: 0;line-height: 17px;z-index: 2;}
.prefix div.container table.detail th {font-weight:bold;}
.prefix table.detail tr > th {padding: 12px 5px 9px 0px; border-bottom: 1px solid #e9e9e9;}
.prefix table.detail tr > td {padding: 12px 5px 9px 0px; border-bottom: 1px solid #e9e9e9;}
.prefix table.detail tr.last th, 
.prefix table.detail tr.last td {border-bottom: none;}

/* 사이트 그룹 */
.prefix div.tab_menu_wrap {margin: 15px 0 15px; padding: 0; display: block; border-bottom: 1px solid #dfdfdf;}
.prefix ul.tab_menu {overflow: hidden;margin-bottom: -1px; height:100%;}
.prefix ul.tab_menu li {float: left; border: 1px solid #dfdfdf; background: #f5f5f5; padding: 15px 12px; margin-right: 3px; border-radius: 3px 3px 0 0; z-index: 1; cursor:pointer; line-height:0px; height:100%; }
.prefix ul.tab_menu li:first-child {margin-left: 20px;}
.prefix ul.tab_menu li.active, 
.prefix ul.tab_menu li.ui-state-active {cursor: default; background: #fff;border-bottom-color: #fff;}
.prefix ul.tab_menu li span.txt {font-size: 13px;color: #b6b6b6; font-weight: bold;}
.prefix ul.tab_menu li.active span.txt, 
.prefix ul.tab_menu li.ui-state-active span.txt {color: #656565;}
.prefix ul.tab_menu li:hover {border-color:#999; border-bottom-color:#dfdfdf}
.prefix ul.tab_menu li:hover span.txt {color:#666}
.prefix .btn_s .ic_arrow_type4 {background-position: -100px -600px; width: 10px; height: 9px;}
.prefix table.tb_select .tool_bar {padding: 0px; min-height: 25px; padding-bottom: 5px;}

/* 겸직자 설정 레이어 */
.prefix div.layer_admin_sideJob section.search .search_wrap input.search {width:212px; border:none; font-size:12px}
.prefix div.layer_admin_sideJob section.search .search_wrap input.btn_search {height:26px;}
.prefix div.layer_admin_sideJob footer.btn_layer_wrap {border-top:0px}


/* 전사 사전 공유 설정 레이어 */
.prefix .layer_share {padding: 15px; font-size:13px; font-family:맑은 고딕,malgungothic,dotum,AppleGothic,Helvetica,sans-serif;}
.prefix .layer_share header h1 {font-size:18px}
.prefix .layer_share div.content {padding: 5px 0px 0px 0px;}
.prefix .layer_share table {margin: 0; padding:0;}
.prefix .layer_share td.tb_share_tree {border:0!important; background:#fff;padding:0;}
.prefix .layer_share table.detail tr > th {border-bottom:0px;}
.prefix .layer_share table.detail tr > td {border-bottom:0px;}
.prefix .layer_share td.tb_share_tree .scroll_wrap {padding:3px; border: 1px solid #ccc!important; vertical-align: top; background: #f4f4f4;}
.prefix .layer_share table.detail td span {vertical-align:top;}
.prefix table.detail tr td .vertical_wrap:first-child {margin-top: 0;padding: 0;}
.prefix .option_display {border: 1px solid #e3e3e3; background: #f8f8f8;  padding: 10px; margin: 10px 0;}
.prefix .tb_stair li .item .tit .ic.ic_board {position: absolute; top: 5px; left: 17px; width: 16px; height: 16px;}
.prefix .tb_stair li .item .tit .ic {background-position: -50px -600px;}
.prefix .ic_stair_close {display: inline-block;background: url(../images/ic.png) no-repeat 4px -496px; width: 14px; height: 14px; cursor: pointer;}
.prefix .tb_stair .delimiter .item .title_depart {background-color: #f4f4f4; color: #b1b1b1; font-weight: bold;}
.prefix footer.btn_layer_wrap, 
.prefix footer.btn_layer_wrap {margin: 0px 10px 15px 10px; padding-top: 15px; border-top: 1px solid #e3e3e3; text-align: center;}
.prefix ul.list_option li .sub_depart label {margin-top:0;}
.prefix table.detail tr th span.title {font-weight:bold; color:#333;}
.prefix span.sub_depart label {color: #999;}

/*인증서 관리*/
.prefix .admin_content .content_page h5 {font-size:15px; font-weight:bold; padding-left:10px;}
.prefix div.content_body table.contentTable th {font-weight:bold; text-align:left; padding-left:10px;}

/*보관 기간 설정*/
.prefix .vertical_wrap_s select {height:25px;}
.prefix div.content_body table td {border-right: 0px;}

/* alert */
.prefix div.alert_wrap {display:inline-block; width:100%; top:0; background:#fffde4; padding:7px 12px; color:#333; }
.prefix .ic_con {display: inline-block; background: url(../images/ic_con.png) no-repeat; vertical-align: middle}
.prefix ins.ic_alert {background-position:0 -960px; width:15px; height:15px}
.prefix ins.ic_alert_caution {background-position:-40px -960px; width:15px; height:15px}
.prefix span.btn_wrap {display: inline-block; cursor: pointer}
.prefix	span.btn_del_light {display: inline-block;width: 10px;height: 10px;background: url(../images/ic_con.png) no-repeat -100px -150px}
.prefix div.alert_wrap span.txt, .prefix div.alert_wrap span.txt_caution {display: inline-block; color: #333; font-weight: bold; font-size: 14px;
    line-height: 50px; vertical-align: middle; padding-left:5px;}

/* 조직도 팝업 */
.prefix .layer_organogram h1 span.txt {color:#fff; font-weight:bold;}
.prefix .layer_organogram a.btn_layer_x span.ic {display: inline-block; width: 15px; height: 15px; background: url(../images/ic_gnb.png) no-repeat -100px -350px !important; vertical-align: middle;}
.prefix .layer_organogram a.btn_minor_s span {color:#fff; font-weight:bold; font-size:12px}

.prefix div.tFooter section.meta strong {color:#999; font-size:10px; font-family:verdana; font-weight:bold}

/* tFooter */
.prefix div.tFooter {z-index:1001; clear:left; position:fixed; bottom:0; left:0; width:100%; min-height:27px; background:#2f2f2f}
.prefix div.tFooter {padding:2px 0px}
.prefix div.tFooter section.setting {position:absolute; right:10px; top:8px; color:#999}
.prefix div.tFooter section.meta {text-align:center}
.prefix div.tFooter section.meta small.copyright {display:inline-block; margin-top:7px; font-size:10px; font-family:verdana; color:#999}

/* 시스템어드민 > 도메인 사이트관리 > 사이트 그룹 목록 > 사이트그룹 기본정보*/
.prefix div.tool_bar span.ic_order {background:url(../images/admin/icon_classic.png) no-repeat;display:inline-block;width:8px;height:12px; vertical-align:0px;}
.prefix div.tool_bar span.first {background-position: -40px -77px;}
.prefix div.tool_bar span.top {background-position: -40px -94px;}
.prefix div.tool_bar span.bottom {background-position: -40px -114px;}
.prefix div.tool_bar span.last {background-position: -40px -137px;}
.prefix div.tool_bar span.ic_order.ic_order.indent {background-position:-40px -160px; width:14px; height:10px; margin-top:2px}
.prefix div.tool_bar span.ic_order.ic_order.outdent {background-position:-40px -180px; width:14px; height:10px; margin-top:2px}

/* 시스템어드민 > 도메인 사이트관리 > 사이트 그룹 목록 > 겸직자 추가 레이어*/
.prefix .layer_admin_sideJob div.tool_bar span.ic_order {vertical-align:2px;} 
.prefix .orgTree_wrap div.content_tab_wrap {width:100%;min-height:110px; border-radius:0 0 5px 5px;overflow-y:auto;margin:0;background-color:#f2f2f2!important;}

.prefix .container .dataTables_wrapper {margin-top:0!important;}
.prefix .admin_content .content_info {padding:0 8px;}
.prefix div.tPage h1 {border-bottom: none;}
.prefix div.content_body h5 {padding: 8px 16px}
